/* .vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-center {
  margin: 0 auto;
  width: 50%;
}
 */
// Sign in component (can be used for the sign up as well)
/*
 * Sign in component for use with the sign in and up views
*/
@import "../../../styles.scss";

.Signin,
.Signup {
    background-color: $bg-gray;
    width: 100%;
    height: 100vh;
}

.Signin-form,
.Signup-form {
    background-color: #fff;
    padding: 64px 32px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 100%;

    @include media-breakpoint-up(sm) {
        padding: 64px;
        width: 468px;
    }
}

.Signup-form {
    @include media-breakpoint-up(sm) {
        padding: 64px;
        width: 560px;
    }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration-color: #1976D2;
}
.text-blue {
  color: #1976D2;
}
